---
layout: default
---

<!-- Content -->
<div class="grid-container">
  <div class="grid-x margin-bottom-2">
  	<div class="small-11 medium-10 large-8 cell">
  	{{ page.content | markdownify }}
  	</div>
  </div>
</div>
<!-- End Content -->


<!-- CV Title -->
<div class="grid-container">
<div class="grid-x margin-bottom-2">
	<div class="small-12 cell">
	<h3>Projects</h3>
	</div>
</div>
</div>
<!-- End CV Title -->
	
{% assign collection = site.projects | group_by: "medium" %}
{% for group in collection %}
<div class="grid-container">
<div class="grid-x">
<div class="small-12 cell">
	

		{% assign collectionsorted = group.items | sort: 'date' | reverse %}
		{% for item in collectionsorted %}
		<div class="grid-x">
  		
		<div class="small-12 medium-4 large-3 cell">
		{{item.title}}
		</div>
		
		<div class="small-12 medium-4 large-3 cell">
	  {{item.company}}
	  </div>
	  
	  <div class="small-12 medium-4 large-5 cell">
	  {{item.producers}}
	  </div>
	  
    <div class="small-12 medium-1 large-1 cell show-for-large">
    {{item.date | date: '%Y'}}
    </div>
	  
	  </div>
	    {%endfor%}

</div>
</div>
</div>
{%endfor%}
<!-- End CV -->