---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">
      
<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<main id="swup">
    <div class="a-fade">
  
<!-- Content -->
{{ content }}
<!-- End Content -->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->

  </div>
</main>

<div class="loading">We are loading...</div>

</body>

</html>