---
layout: default
---

<!-- Title and Meta -->
<div class="row project__meta">
	<div class="small-12 medium-10 large-7 columns">
		<h1>{{ page.title }}</h1>
		{% if page.company %}{{ page.company }}<br>{% endif %}
		{% if page.runtime %}{{ page.runtime }}<br>{% endif %}
		{% if page.awards %}{{ page.awards }}<br>{% endif %}
		{% if page.director %}<div class="show-for-medium"><span class="detail">Director(s)</span> {{ page.director }}<br>{% endif %}</div>
		{% if page.writer %}<div class="show-for-medium"><span class="detail">Writer(s)</span> {{ page.writer }}<br>{% endif %}</div>
		{% if page.producers %}<div class="show-for-medium"><span class="detail">Producer(s)</span> {{ page.producers }}<br>{% endif %}</div>
		{% if page.with %}<div class="show-for-medium"><span class="detail">With</span> {{ page.with }}<br>{% endif %}</div>
		{% if page.imdb %}<a class="detail" href="{{ page.imdb}}" target="_blank">IMDB</a>{% endif %}
	</div>
</div>
<!-- End Title and Meta -->

<!-- Video or Image -->
{% if page.video or page.img %}
<div class="row project__hero">
	<div class="small-12 medium-10 large-8 columns">
	
	{% if page.video %}
	<div class="flex-video widescreen vimeo">
	<iframe src="https://player.vimeo.com/video/{{page.video}}?autoplay=0&color=FFFFFF&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	
	{% elsif page.img %}
	<img src="{{page.img}}" alt="{{page.title}}" />
	{% endif %}
	
	</div>
</div>
{% endif %}
<!-- End Video or Image -->

<!-- Content -->
<div class="row project__content">
	<div class="small-12 medium-10 large-7 column">
		{{ page.content }}
	</div>
</div>
<!-- End Content -->